.App {
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  height: 100%;
  width: 100%;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  padding: 10px;
  background-color: rgb(44, 44, 44);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14x;
  font-weight: lighter;
  margin-right: 10px;
  cursor: pointer;
}

textarea, input, button {
  font-family: 'Oxygen', sans-serif;
}