.Header {
  background-color: pink;
  padding: 8px;


  .forumLink {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 5px;
    
    &:hover {
      color: grey;
    }
  }

  button {
    margin-left: 10px;
  }
}